.Dictionary section {
  background-color: #ffffff;
  padding: 30px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
}

.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
.Dictionary input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 10px;
  color: #444444;
}

.Dictionary .hint {
  font-size: 11px;
  padding-top: 10px;
}
